.block_0 {
	background-position: 0 0;
}
.block_1 {
	background-position: -30px 0;
}
.block_2 {
	background-position: -60px 0;
}
.block_3 {
	background-position: -90px 0;
}
.block_4 {
	background-position: -120px 0;
}
.block_5 {
	background-position: -150px 0;
}
.block_5_1 {
	background-position: -180px 0;
}
.block_5_2 {
	background-position: -210px 0;
}
.block_5_3 {
	background-position: -240px 0;
}
.block_6 {
	background-position: -270px 0;
}
.block_6_1 {
	background-position: -300px 0;
}
.block_6_2 {
	background-position: -330px 0;
}
.block_6_3 {
	background-position: -360px 0;
}
.block_7 {
	background-position: -390px 0;
}
.block_8 {
	background-position: -420px 0;
}
.block_9 {
	background-position: -450px 0;
}
.block_10 {
	background-position: 0 -30px;
}
.block_11 {
	background-position: -30px -30px;
}
.block_12 {
	background-position: -60px -30px;
}
.block_13 {
	background-position: -90px -30px;
}
.block_14 {
	background-position: -120px -30px;
}
.block_15 {
	background-position: -150px -30px;
}
.block_16 {
	background-position: -180px -30px;
}
.block_17 {
	background-position: -210px -30px;
}
.block_17_1 {
	background-position: -240px -30px;
}
.block_17_2 {
	background-position: -270px -30px;
}
.block_17_3 {
	background-position: -300px -30px;
}
.block_18 {
	background-position: -330px -30px;
}
.block_18_1 {
	background-position: -360px -30px;
}
.block_18_2 {
	background-position: -390px -30px;
}
.block_18_3 {
	background-position: -420px -30px;
}
.block_19 {
	background-position: -450px -30px;
}
.block_20 {
	background-position: 0 -60px;
}
.block_21 {
	background-position: -30px -60px;
}
.block_22 {
	background-position: -60px -60px;
}
.block_23 {
	background-position: -90px -60px;
}
.block_24 {
	background-position: -120px -60px;
}
.block_24_1 {
	background-position: -150px -60px;
}
.block_24_2 {
	background-position: -180px -60px;
}
.block_25 {
	background-position: -210px -60px;
}
.block_26 {
	background-position: -240px -60px;
}
.block_27 {
	background-position: -270px -60px;
}
.block_28 {
	background-position: -300px -60px;
}
.block_29 {
	background-position: -330px -60px;
}
.block_30 {
	background-position: -360px -60px;
}
.block_31 {
	background-position: -390px -60px;
}
.block_31_1 {
	background-position: -420px -60px;
}
.block_31_2 {
	background-position: -450px -60px;
}
.block_32 {
	background-position: 0 -90px;
}
.block_33 {
	background-position: -30px -90px;
}
.block_34 {
	background-position: -60px -90px;
}
.block_35 {
	background-position: -90px -90px;
}
.block_35_1 {
	background-position: -120px -90px;
}
.block_35_2 {
	background-position: -150px -90px;
}
.block_35_3 {
	background-position: -180px -90px;
}
.block_35_4 {
	background-position: -210px -90px;
}
.block_35_5 {
	background-position: -240px -90px;
}
.block_35_6 {
	background-position: -270px -90px;
}
.block_35_7 {
	background-position: -300px -90px;
}
.block_35_8 {
	background-position: -330px -90px;
}
.block_35_9 {
	background-position: -360px -90px;
}
.block_35_10 {
	background-position: -390px -90px;
}
.block_35_11 {
	background-position: -420px -90px;
}
.block_35_12 {
	background-position: -450px -90px;
}
.block_35_13 {
	background-position: 0 -120px;
}
.block_35_14 {
	background-position: -30px -120px;
}
.block_35_15 {
	background-position: -60px -120px;
}
.block_36 {
	background-position: -90px -120px;
}
.block_37 {
	background-position: -120px -120px;
}
.block_38 {
	background-position: -150px -120px;
}
.block_39 {
	background-position: -180px -120px;
}
.block_40 {
	background-position: -210px -120px;
}
.block_41 {
	background-position: -240px -120px;
}
.block_42 {
	background-position: -270px -120px;
}
.block_43 {
	background-position: -300px -120px;
}
.block_43_1 {
	background-position: -330px -120px;
}
.block_43_2 {
	background-position: -360px -120px;
}
.block_43_3 {
	background-position: -390px -120px;
}
.block_43_4 {
	background-position: -420px -120px;
}
.block_43_5 {
	background-position: -450px -120px;
}
.block_43_6 {
	background-position: 0 -150px;
}
.block_43_7 {
	background-position: -30px -150px;
}
.block_43_8 {
	background-position: -60px -150px;
}
.block_43_9 {
	background-position: -90px -150px;
}
.block_44 {
	background-position: -120px -150px;
}
.block_44_1 {
	background-position: -150px -150px;
}
.block_44_2 {
	background-position: -180px -150px;
}
.block_44_3 {
	background-position: -210px -150px;
}
.block_44_4 {
	background-position: -240px -150px;
}
.block_44_5 {
	background-position: -270px -150px;
}
.block_44_6 {
	background-position: -300px -150px;
}
.block_44_7 {
	background-position: -330px -150px;
}
.block_45 {
	background-position: -360px -150px;
}
.block_46 {
	background-position: -390px -150px;
}
.block_47 {
	background-position: -420px -150px;
}
.block_48 {
	background-position: -450px -150px;
}
.block_49 {
	background-position: 0 -180px;
}
.block_50 {
	background-position: -30px -180px;
}
.block_51 {
	background-position: -60px -180px;
}
.block_52 {
	background-position: -90px -180px;
}
.block_53 {
	background-position: -120px -180px;
}
.block_54 {
	background-position: -150px -180px;
}
.block_55 {
	background-position: -180px -180px;
}
.block_56 {
	background-position: -210px -180px;
}
.block_57 {
	background-position: -240px -180px;
}
.block_58 {
	background-position: -270px -180px;
}
.block_59 {
	background-position: -300px -180px;
}
.block_60 {
	background-position: -330px -180px;
}
.block_61 {
	background-position: -360px -180px;
}
.block_62 {
	background-position: -390px -180px;
}
.block_63 {
	background-position: -420px -180px;
}
.block_64 {
	background-position: -450px -180px;
}
.block_65 {
	background-position: 0 -210px;
}
.block_66 {
	background-position: -30px -210px;
}
.block_67 {
	background-position: -60px -210px;
}
.block_68 {
	background-position: -90px -210px;
}
.block_69 {
	background-position: -120px -210px;
}
.block_70 {
	background-position: -150px -210px;
}
.block_71 {
	background-position: -180px -210px;
}
.block_72 {
	background-position: -210px -210px;
}
.block_73 {
	background-position: -240px -210px;
}
.block_74 {
	background-position: -270px -210px;
}
.block_75 {
	background-position: -300px -210px;
}
.block_76 {
	background-position: -330px -210px;
}
.block_77 {
	background-position: -360px -210px;
}
.block_78 {
	background-position: -390px -210px;
}
.block_79 {
	background-position: -420px -210px;
}
.block_80 {
	background-position: -450px -210px;
}
.block_81 {
	background-position: 0 -240px;
}
.block_82 {
	background-position: -30px -240px;
}
.block_83 {
	background-position: -60px -240px;
}
.block_84 {
	background-position: -90px -240px;
}
.block_85 {
	background-position: -120px -240px;
}
.block_86 {
	background-position: -150px -240px;
}
.block_87 {
	background-position: -180px -240px;
}
.block_88 {
	background-position: -210px -240px;
}
.block_89 {
	background-position: -240px -240px;
}
.block_90 {
	background-position: -270px -240px;
}
.block_91 {
	background-position: -300px -240px;
}
.block_92 {
	background-position: -330px -240px;
}
.block_93 {
	background-position: -360px -240px;
}
.block_94 {
	background-position: -390px -240px;
}
.block_95 {
	background-position: -420px -240px;
}
.block_96 {
	background-position: -450px -240px;
}
.block_97 {
	background-position: 0 -270px;
}
.block_97_1 {
	background-position: -30px -270px;
}
.block_97_2 {
	background-position: -60px -270px;
}
.block_98 {
	background-position: -90px -270px;
}
.block_98_1 {
	background-position: -120px -270px;
}
.block_98_2 {
	background-position: -150px -270px;
}
.block_98_3 {
	background-position: -180px -270px;
}
.block_99 {
	background-position: -210px -270px;
}
.block_100 {
	background-position: -240px -270px;
}
.block_101 {
	background-position: -270px -270px;
}
.block_102 {
	background-position: -300px -270px;
}
.block_103 {
	background-position: -330px -270px;
}
.block_104 {
	background-position: -360px -270px;
}
.block_105 {
	background-position: -390px -270px;
}
.block_106 {
	background-position: -420px -270px;
}
.block_107 {
	background-position: -450px -270px;
}
.block_108 {
	background-position: 0 -300px;
}
.block_109 {
	background-position: -30px -300px;
}
.block_110 {
	background-position: -60px -300px;
}
.block_111 {
	background-position: -90px -300px;
}
.block_112 {
	background-position: -120px -300px;
}
.block_113 {
	background-position: -150px -300px;
}
.block_114 {
	background-position: -180px -300px;
}
.block_115 {
	background-position: -210px -300px;
}
.block_116 {
	background-position: -240px -300px;
}
.block_117 {
	background-position: -270px -300px;
}
.block_118 {
	background-position: -300px -300px;
}
.block_119 {
	background-position: -330px -300px;
}
.block_120 {
	background-position: -360px -300px;
}
.block_121 {
	background-position: -390px -300px;
}
.block_122 {
	background-position: -420px -300px;
}
.block_123 {
	background-position: -450px -300px;
}
.block_124 {
	background-position: 0 -330px;
}
.block_125 {
	background-position: -30px -330px;
}
.block_125_1 {
	background-position: -60px -330px;
}
.block_125_2 {
	background-position: -90px -330px;
}
.block_125_3 {
	background-position: -120px -330px;
}
.block_126 {
	background-position: -150px -330px;
}
.block_126_1 {
	background-position: -180px -330px;
}
.block_126_2 {
	background-position: -210px -330px;
}
.block_126_3 {
	background-position: -240px -330px;
}
.block_127 {
	background-position: -270px -330px;
}
.block_128 {
	background-position: -300px -330px;
}
.block_129 {
	background-position: -330px -330px;
}
.block_130 {
	background-position: -360px -330px;
}
.block_131 {
	background-position: -390px -330px;
}
.block_132 {
	background-position: -420px -330px;
}
.block_133 {
	background-position: -450px -330px;
}
.block_134 {
	background-position: 0 -360px;
}
.block_135 {
	background-position: -30px -360px;
}
.block_136 {
	background-position: -60px -360px;
}
.block_137 {
	background-position: -90px -360px;
}
.block_138 {
	background-position: -120px -360px;
}
.block_139 {
	background-position: -150px -360px;
}
.block_139_1 {
	background-position: -180px -360px;
}
.block_140 {
	background-position: -210px -360px;
}
.block_141 {
	background-position: -240px -360px;
}
.block_142 {
	background-position: -270px -360px;
}
.block_143 {
	background-position: -300px -360px;
}
.block_144 {
	background-position: -330px -360px;
}
.block_145 {
	background-position: -360px -360px;
}
.block_146 {
	background-position: -390px -360px;
}
.block_147 {
	background-position: -420px -360px;
}
.block_148 {
	background-position: -450px -360px;
}
.block_149 {
	background-position: 0 -390px;
}
.block_150 {
	background-position: -30px -390px;
}
.block_151 {
	background-position: -60px -390px;
}
.block_152 {
	background-position: -90px -390px;
}
.block_153 {
	background-position: -120px -390px;
}
.block_154 {
	background-position: -150px -390px;
}
.block_155 {
	background-position: -180px -390px;
}
.block_155_1 {
	background-position: -210px -390px;
}
.block_155_2 {
	background-position: -240px -390px;
}
.block_156 {
	background-position: -270px -390px;
}
.block_157 {
	background-position: -300px -390px;
}
.block_158 {
	background-position: -330px -390px;
}
.block_159 {
	background-position: -360px -390px;
}
.block_159_1 {
	background-position: -390px -390px;
}
.block_159_2 {
	background-position: -420px -390px;
}
.block_159_3 {
	background-position: -450px -390px;
}
.block_159_4 {
	background-position: 0 -420px;
}
.block_159_5 {
	background-position: -30px -420px;
}
.block_159_6 {
	background-position: -60px -420px;
}
.block_159_7 {
	background-position: -90px -420px;
}
.block_159_8 {
	background-position: -120px -420px;
}
.block_159_9 {
	background-position: -150px -420px;
}
.block_159_10 {
	background-position: -180px -420px;
}
.block_159_11 {
	background-position: -210px -420px;
}
.block_159_12 {
	background-position: -240px -420px;
}
.block_159_13 {
	background-position: -270px -420px;
}
.block_159_14 {
	background-position: -300px -420px;
}
.block_159_15 {
	background-position: -330px -420px;
}
.block_170 {
	background-position: -360px -420px;
}
.block_171 {
	background-position: -390px -420px;
}
.block_171_1 {
	background-position: -420px -420px;
}
.block_171_2 {
	background-position: -450px -420px;
}
.block_171_3 {
	background-position: 0 -450px;
}
.block_171_4 {
	background-position: -30px -450px;
}
.block_171_5 {
	background-position: -60px -450px;
}
.block_171_6 {
	background-position: -90px -450px;
}
.block_171_7 {
	background-position: -120px -450px;
}
.block_171_8 {
	background-position: -150px -450px;
}
.block_171_9 {
	background-position: -180px -450px;
}
.block_171_10 {
	background-position: -210px -450px;
}
.block_171_11 {
	background-position: -240px -450px;
}
.block_171_12 {
	background-position: -270px -450px;
}
.block_171_13 {
	background-position: -300px -450px;
}
.block_171_14 {
	background-position: -330px -450px;
}
.block_171_15 {
	background-position: -360px -450px;
}
.block_172 {
	background-position: -390px -450px;
}
.block_173 {
	background-position: -420px -450px;
}


